.auth {
  background-color: primary_color;
  color: white_color;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  > .form {
    position: absolute;
    top: 0;
    right: 0;
    background-color: white_color;
    height: 100%;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: primary_color;
    z-index: 1;
    &::after {
      content: '';
      position: absolute;
      height: calc( 100% + 4px );
      width: 70px;
      background-color: white_color;
      top: 0;
      right: calc( 100% - 39px);
      transform: rotate(5deg);
      z-index: -1;
    }
  }
}